@model IEnumerable<FreelanceSystemDemo.Models.Job>

@*@using WebApplication1.Models;
    @using Microsoft.AspNet.Identity*@

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (Request.IsAuthenticated)
{
    @* var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();*@

    <div>
        <h2>Jobs List</h2>

        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfProposal)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (!item.PostStatus)
                {
                    <tr style="">
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobContent)
                        </td>
                        <td style="padding:10px;">
                            <img src="~/Uploads/@Html.DisplayFor(model => item.JobImage)"
                                 class="thumbnail" style="width: 200px; height: 200px; border:solid; border-color:black;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobBudget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfProposal)
                        </td>
                        <td>
                            <div style="display:grid;">

                                <div>
                                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })

                                </div>

                            </div>


                        </td>
                    </tr>
                }

            }

        </table>

        <div>

            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        </div>


    </div>
}