@model FreelanceSystemDemo.Models.Job

@{
    ViewBag.Title = "Job Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style="width:inherit;">
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.JobImage)"
                 class="thumbnail"
                 style="width:200px; height:200px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobBudget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfProposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>


    <div class="form-actions no-color">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>

</div>


