@model IEnumerable<WebApplication1.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (Request.IsAuthenticated)
{

<div style="width:inherit">
    <h2>Users List</h2>
    <table class="table table-bordered  ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <div style="display:grid;">
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })
                    </div>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </div>

</div>
}