@model IEnumerable<FreelanceSystemDemo.Models.ApplyForJob>

@{
    ViewBag.Title = "GetJobsByPublisher";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div style="width:inherit">
    <h2>Jobs You Published</h2>
    <table class="table table-bordered table-hover">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.job.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                Operations
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.job.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>
                    <div style="display:grid;">
                        @Html.ActionLink("Approve", "Approve", new { id = item.JobId }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-dark", @style = "font-size: 20px;" })
                    </div>
                </td>
            </tr>
        }
        
    </table>
    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
