@model IEnumerable<FreelanceSystemDemo.Models.Job>

@{
    ViewBag.Title = "GetPublishedJobsByUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <h2>Jobs List</h2>

    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfProposal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="">
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobContent)
                </td>
                <td style="padding:10px;">
                    <img src="~/Uploads/@Html.DisplayFor(model => item.JobImage)"
                         class="thumbnail" style="width: 200px; height: 200px; border:solid; border-color:black;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfProposal)
                </td>
                <td>
                    <div style="display:grid;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default", @style = "font-size: 20px;" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default", @style = "font-size: 20px;" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default", @style = "font-size: 20px;" })
                    </div>


                </td>
            </tr>
        }

    </table>

    <div>
        <a class=" btn btn-dark"  href="~/Jobs/Create" >Create New</a>

    </div>


</div>